body{
    width: 960px;
    margin: 0px auto;
    font-family: arial;
}


img{
    width: 200px;
    border-radius: 100px;
    margin-left: 280px;
    
}
.name{
    color: lightcoral;
}
.first-part p{
  color: gray;

}
.btn{
    text-decoration: none;
    background-color: indianred;
    background-image: linear-gradient(180deg,rgb(245, 158, 158),tomato);
    color:white;
    padding: 5px 12px;
    border-radius: 5px;
}
.experiance{
    box-shadow: 10px 10px 40px gray;
    width: 40%;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    float: left;
    margin-right: 30px;
    border-left: 5px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
    margin-bottom: 40px;
}
.experiance h2{
    color: rgb(235, 135, 135);
}
.ftr{
    text-align: center;

}
